In [1]:
import pandas as pd

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [15]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [67]:
top_movie = ratings[ratings['rating'] == 5.0]['movieId'].value_counts()
top_movie_index = top_movie.index[0]
movies[movies['movieId'] == top_movie_index]

# не очень понял как выделить именно название

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [69]:
power = pd.read_csv('power.csv')

In [120]:
clean_data = power[(power['country'].isin(['Latvia','Lithuania','Estonia']))
      & (power['category'].isin([4,12,21])) 
      & (power['year'] >=  2005) 
      & (power['year'] <=  2010) 
      &  (power['quantity']>= 0)]
sum(clean_data['quantity'])

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [135]:
#page_url = 'https://yandex.ru/covid19/stat' - нет таблиц, почему?
#df = pd.read_html(page_url, attrs = {'class': 'table'}, encoding='utf-8')

# page_url = 'https://meduza.io/feature/2020/03/05/poslednie-dannye-po-koronavirusu-vo-vsem-mire-tablitsa' - нет таблиц, почему?
# df = pd.read_html(page_url, attrs = {'class': 'Table-tracks'})

pd.read_html('https://fortrader.org/quotes')[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,80.0977,-0.0348,-0.0434,NaN
1,USDRUB Курс рубля к доллару,73.4195,-0.3017,-0.4092,NaN