## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов. Готовые решения принимаются в виде ссылки на GitHub.

#### Задача 1

Дана строка:

In [43]:
string_01 = "History is always written by the winners. Then two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [44]:
import re
symbol_len=len(re.sub(r'\s', '',string_01))
print(f'В строке {symbol_len} символов исключая пробелы')

В строке 223 символов исключая пробелы

2. Посчитайте, сколько в строке слов.

In [45]:
word_len = len(re.findall(r'[a-zA-Z]+', string_01))
print(f'В строке {word_len} слов')

В строке 45 слов

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [69]:
def symbol_word(w):
    request = r'' + w.upper() + '\w+' + '|' + w.lower() + '\w+'
    return re.findall(request, string_01)
symbol_word('h')

['History',
 'he',
 'hen',
 'he',
 'he',
 'he',
 'history',
 'hich',
 'heir',
 'he',
 'hat',
 'history']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [119]:
import numpy as np
import random
number_list = [random.randint(1,9)]
for i in range(4):
    number_list.append(random.randint(0,9))
number_list.append(3)
random.shuffle(number_list)
number_list = [str(item) for item in number_list]
''.join(number_list)

'423491'

#### Задача 3

Дан список:

In [121]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [123]:
element_sum = 0
for number in list_01:
    if (number > 10 and number < 100) or (number > 200 and number < 500):
        element_sum +=number
element_sum

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [128]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [130]:
students_dict = {}
for line_ in students:
    students_dict[line_[0]] = line_[1:]
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [133]:
def change_group (st_num, new_group):
    students_dict[st_num][4] = new_group
change_group('4004', 'БСТ162')  

students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [136]:
def print_group (group_num):
    for element in students_dict:
        if students_dict[element][4] == group_num:
            print(students_dict[element][:3])
print_group('БСТ162')

['Богов', 'Артем', 'Игоревич']
['Степанова', 'Наталья', 'Александровна']
['Сиропова', 'Виолетта', 'Эдуардовна']

#### Задача 5

Дана матрица:

In [124]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [140]:
sum_all = 0
for lines in matrix:
    for element in lines:
        sum_all += element
sum_all

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [153]:
max_colum_sum = 0
new_matrix = np.array(matrix).T

for lines in new_matrix:

    if sum(lines) > max_colum_sum:
        max_colum_sum = sum(lines)
        
max_colum_sum

22